p {
  padding: 0;
  margin: 0 !important;
}
.public .top {
  padding: 16px 0;
  background: #f5f5f5;
}
.public .pull-right {
  padding: 0;
}
.public ul {
  height: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.public ul li {
  position: relative;
  float: left;
  list-style: none;
  width: 16.6666%;
  line-height: 45px;
  text-align: center;
}
.public ul li a {
  display: inline-block;
  text-decoration: none;
  color: #999;
  width: 100%;
}
.public ul li .active {
  border-bottom: 2px solid #009eff;
}
.public ul .xian_i {
  background: #009eff;
  color: #fff;
  border-radius: 6px;
}
.dever_list .title {
  color: #9a9a9a;
  padding: 12px 0;
}
.dever_list .bag_color {
  background: #f4f4f4;
  padding: 12px;
}
.dever_list .bag_color .displ_fle {
  display: flex;
}
.dever_list .bag_color .displ_fle .fle {
  flex: 1;
  justify-content: space-between;
}
.dever_list .bag_color .displ_fle .fle span {
  padding-right: 12px;
}
.dever_list .search_list {
  padding: 24px 15px;
}
.bottom {
  background-color: #5c5f63;
  width: 100%;
  height: 65px;
  padding: 12px 0;
  color: #9a9a9a;
}
.bottom p {
  text-align: center;
}
.border_info {
  margin-top: 24px;
}
.border_info table {
  border-collapse: separate;
  display: table;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.border_info table thead {
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.border_info table thead th:first-child {
  border-top-left-radius: 12px;
}
.border_info table tbody tr:nth-child(odd) {
  background: #f4f4f4;
}
.border_info table tbody tr:nth-child(odd) td {
  line-height: 18px;
}
.border_info table tr td {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
