.div_info_th{
    margin-top: 18px;
    background: #F3F3F3;
    font-size: 16px;
    padding: 6px;
}
.bd_dv{
    border: 1px solid #ccc;
    padding: 0 15px;
}
.ma_sp{
    padding: 8px 0;
}
.mg_p p{
    padding: 8px 0;
}
.search_box{
    margin-top: 1em;
}
.bottom{
    margin-top: 2em;
}