<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<a href="#" class="list-group-item active">司机管理</a>

<a href="/admin/product" class="list-group-item">
    司机列表</a>
<a href="/admin/product/add" class="list-group-item">
    添加司机</a>
<a href="/admin/product/add" class="list-group-item">
    添加司机</a>
<a href="#" class="list-group-item active">司机分类管理</a>

<a href="/admin/product" class="list-group-item">
    司机列表</a>
<a href="/admin/product/add" class="list-group-item">
    添加司机</a>
</body>
</html>