

<a href="#" class="list-group-item active">司机管理</a>

<a href="/admin/product" class="list-group-item">
    司机列表</a>
<a href="/admin/product/add" class="list-group-item">
    添加司机</a>
<a href="/admin/product/add" class="list-group-item">
    添加司机</a>
<a href="#" class="list-group-item active">司机分类管理</a>

<a href="/admin/product" class="list-group-item">
    司机列表</a>
<a href="/admin/product/add" class="list-group-item">
    添加司机</a>
