
<%- include ../public/header.ejs%>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
                <%- include ../public/aslideleft.ejs%>
        </div>
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">商品管理
                </li>
                <li class="active">商品列表
                </li>
            </ol>
            <div class="panel panel-default">

                <div class="panel-heading">
                    增加商品
                </div>
                <div class="panel-body">

                        <form action="/admin/product/doAdd"  enctype="multipart/form-data"  method="post">
                            <ul>
                                <li>  司机姓名: <input type="text" name="name_list"/></li>
                                <li>  求职意向：<input type="text" name="intention"/></li>
                                <li>  驾龄: <input type="text" name="driving_age"/></li>
                                <li>  年龄: <input type="text" name="year"/></li>
                                <li>  驾照: <input type="text" name="driving_license"/></li>
                                <li>  期望薪资: <input type="text" name="price"/></li>
                                <li>  从业年限: <input type="text" name="entire_period"/></li>
                                <li>  公司:    <input type="text" name="company"/></li>
                                <li>  头像:    <input type="file" name="pic"/></li>
                                <li>
                                    公司:
                                    <textarea name="description" id="" cols="60" rows="8"></textarea>
                                </li>

                                <li>
                                    <br/>
                                    <button type="submit" class="btn btn-default">提交</button>
                                </li>

                            </ul>


                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

</body>
</html>