<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>客户管理</title>
    <link rel="stylesheet" href="/css/customer_list.css">
</head>
<body>
<% include ../public/header.ejs%>
<div class="container">
    <div class="row search_box">
        <div class="col-xs-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="公司名称" aria-describedby="sizing-addon2">
                <span class="input-group-addon" id="sizing-addon2">查询</span>
            </div>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-default">添加公司</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="title">
                <span>顺丰物流有限公司</span> <span class="pull-right">[类型]</span>
            </div>
            <div class="div_const">
                <div class="div_list div_one">
                    <p>已签约司机106位</p>
                    <p>2018年度</p>
                </div>
                <div class="div_list div_two">
                    <p>2018年2月 <span>XXX招聘会</span></p>
                    <p>2018年4月 <span>XXX招聘会</span></p>
                    <p>2018年6月 <span>XXX招聘会</span></p>
                </div>
                <div class="div_list div_three">

                </div>
                <div class="div_list div_fore">
                    <p>信用评定： <span>优秀</span></p>
                    <p>
                        <button class="btn btn-primary btn-sm">添加招聘信息</button>
                        <button class="btn btn-group btn-sm">修改</button>
                        <button class="btn btn-danger btn-sm">删除</button>
                    </p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="title">
                <span>德邦物流</span> <span class="pull-right">[类型]</span>
            </div>
            <div class="div_const">
                <div class="div_list div_one">
                    <p>已签约司机106位</p>
                    <p>2018年度</p>
                </div>
                <div class="div_list div_two">
                    <p>2018年2月 <span>XXX招聘会</span></p>
                    <p>2018年4月 <span>XXX招聘会</span></p>
                    <p>2018年6月 <span>XXX招聘会</span></p>
                </div>
                <div class="div_list"></div>
                <div class="div_list div_fore">
                    <p>信用评定： <span>优秀</span></p>
                    <p>
                        <button class="btn btn-primary btn-sm">添加招聘信息</button>
                        <button class="btn btn-group btn-sm">修改</button>
                        <button class="btn btn-danger btn-sm">删除</button>
                    </p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="title">
                <span>申通物流</span> <span class="pull-right">[类型]</span>
            </div>
            <div class="div_const">
                <div class="div_list div_one">
                    <p>已签约司机106位</p>
                    <p>2018年度</p>
                </div>
                <div class="div_list div_two">
                    <p>2018年2月 <span>XXX招聘会</span></p>
                    <p>2018年4月 <span>XXX招聘会</span></p>
                    <p>2018年6月 <span>XXX招聘会</span></p>
                </div>
                <div class="div_list"></div>
                <div class="div_list div_fore">
                    <p>信用评定： <span>优秀</span></p>
                    <p>
                        <button class="btn btn-primary btn-sm">添加招聘信息</button>
                        <button class="btn btn-group btn-sm">修改</button>
                        <button class="btn btn-danger btn-sm">删除</button>
                    </p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../public/footer.ejs%>
</body>
</html>