<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>招聘信息</title>
    <link href="/css/recruitment.css">
</head>
<%- include ../public/header.ejs%>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="div_info_th">
                <i class="glyphicon glyphicon-star-empty"></i>
                <span>顺丰专场</span>
                <span class="pull-right">2018-6-8</span>
            </div>
            <div>
                <span>工作地址： 北京</span>
                <span>数量：3</span>
                <span>驾照： B1以上</span>
                <button class="btn btn-primary btn-sm pull-right">修改状态</button>
            </div>
            <div>
                <p>会场地址： 上海市嘉定区墨玉路006号</p>
                <p>招聘人数：16人</p>
                <p>从业年限： 三年以上</p>
            </div>
        </div>
    </div>
</div>
<%- include ../public/footer.ejs%>
<body>
</body>
</html>